Repository mcollier/net7-dapr-containerapps-sample: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/CD.yml, .azuredevops/pipelines/event-receiver-CD.yml

Path conditions:
  .azuredevops/pipelines/CD.yml: any of: infra
  .azuredevops/pipelines/event-receiver-CD.yml: any of: source

Change greeting.
  source/Program.cs
Due: .azuredevops/pipelines/event-receiver-CD.yml

Adjust path filter.
  .azuredevops/pipelines/CD.yml
  .azuredevops/pipelines/event-receiver-CD.yml
Due: none

Update greeting.
  source/Program.cs
Due: .azuredevops/pipelines/event-receiver-CD.yml

Change to use variables.
  .azuredevops/pipelines/event-receiver-CD.yml
Due: none

Minor updates.
  README.md
Due: none

Remove commented out code.
  infra/modules/event-receiver.bicep
  infra/resources.bicep
Due: .azuredevops/pipelines/CD.yml

Add Key Vault resources.
  infra/resources.bicep
Due: .azuredevops/pipelines/CD.yml

Set service principal for Key Vault.
  infra/main.bicep
  infra/resources.bicep
Due: .azuredevops/pipelines/CD.yml

Change principal ID value.
  infra/main.bicep
Due: .azuredevops/pipelines/CD.yml

Set the secret in KV.
  infra/main.bicep
  infra/resources.bicep
Due: .azuredevops/pipelines/CD.yml

Update event hub configuration.
  infra/resources.bicep
Due: .azuredevops/pipelines/CD.yml

Update event hub name and set managed identity.
  infra/modules/event-receiver.bicep
  infra/resources.bicep
Due: .azuredevops/pipelines/CD.yml

Fix storage role resource defN.
  infra/resources.bicep
Due: .azuredevops/pipelines/CD.yml

Set up Event Hub permissions.
  infra/modules/event-receiver.bicep
  infra/resources.bicep
Due: .azuredevops/pipelines/CD.yml

Another attempt at role assignments.
  infra/modules/role-assignment.bicep
  infra/resources.bicep
Due: .azuredevops/pipelines/CD.yml

Another attempt at role assignment.
  infra/resources.bicep
Due: .azuredevops/pipelines/CD.yml

Set role ID variables.
  infra/resources.bicep
Due: .azuredevops/pipelines/CD.yml

Set eventHub in dapr component.
  infra/resources.bicep
Due: .azuredevops/pipelines/CD.yml

Set azureClientId on dapr component.
  infra/modules/event-receiver.bicep
  infra/resources.bicep
Due: .azuredevops/pipelines/CD.yml

Remove commented out code.
  infra/resources.bicep
Due: .azuredevops/pipelines/CD.yml

Add script to finish dev container setup.
  .devcontainer/devcontainer.json
  .devcontainer/setup-devcontainer.sh
Due: none

Install Bicep.
  .devcontainer/devcontainer.json
Due: none

Initial commit.
  deploy-signal-receiver-app.sh
  update-signal-receiver-app.sh
Due: none

Reduce count.
  source/signal-generator/Program.cs
Due: .azuredevops/pipelines/event-receiver-CD.yml

Minor cleanup.
  infra/modules/container-app.bicep
Due: .azuredevops/pipelines/CD.yml

Minor cleanup.
  deploy.sh
Due: none

Formatting.
  source/components/binding.yaml
Due: .azuredevops/pipelines/event-receiver-CD.yml

Create local Event Hub consumer group.
  infra/resources.bicep
  source/binding/signal-generator/Program.cs
Due: .azuredevops/pipelines/CD.yml, .azuredevops/pipelines/event-receiver-CD.yml

Update API version for the container app resource.
  infra/modules/container-app.bicep
Due: .azuredevops/pipelines/CD.yml
